<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Edit Doctor'" [items]="['Doctors']" [active_item]="'Edit Doctor'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Edit Course</h2>

          </div>
          <div class="body">
            <form class="register-form m-4" [formGroup]="courseForm" (ngSubmit)="onSubmit()">

              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Course nameeeeee</mat-label>
                  <input matInput formControlName="course_name" required>
                </mat-form-field>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Doctor</mat-label>
                  <mat-select formControlName="doctor" required>
                    <mat-option *ngFor="let u of doctors" [value]="u.idUser">{{ u.nom }} {{ u.prenom }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input matInput formControlName="date" [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                    required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker #picker> </ngx-mat-datetime-picker>
                </mat-form-field>
              </div>


              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Description</mat-label>
                  <textarea matInput formControlName="description" required rows="4"></textarea>
                </mat-form-field>
              </div>
              
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" mat-raised-button color="primary">Submit</button>
                  <button type="button" mat-button>Cancel</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>